@using Polemonium.WebApp.Web.Helpers
@{
    ViewData["Title"] = "Page Title Polemonium";
}

<div class="home main-content">
    <h1 class="title">Check website</h1>
    <form action="/search-website" method="get">
        <div class="row">
            <input class="search" type="search" name="dnsname" autocomplete="off"/>
            <button class="btn-search">
                @PHtmlHelper.IconSearch()
            </button>
        </div>
    </form>
    <div class="links main-content">
        <div>
            <a href="www.google.com">
                <div>@PHtmlHelper.IconChrome()</div>
                <div>Install Chrome Extension</div>
            </a>
            <a href="www.google.com">
                <div>@PHtmlHelper.IconEdge()</div>
                <div>Install  Edge Browser Extension</div>
            </a>
            <a href="www.google.com">
                <div>@PHtmlHelper.IconFirefox()</div>
                <div>Install Mozilla Browser Extension</div>
            </a>
        </div>
        <hr />
        <div>
            <a href="https://www.github.com/NeuroXiq/Polemonium">
                <div>@PHtmlHelper.IconLinkBoxUpRight()</div>
                <div>Github</div>
            </a>
            <a href="/terms-of-service">
                <div>@PHtmlHelper.IconLinkBoxUpRight()</div>
                <div>Terms of Service</div>
            </a>
            <a href="/sitemap">
                <div>@PHtmlHelper.IconLinkBoxUpRight()</div>
                <div>Sitemap</div>
            </a>
        </div>
    </div>
</div>
