@using Polemonium.WebApp.Web.Helpers;
@model WebsiteModel
@{
    ViewData["Title"] = $"Page Rating {Model.WebsiteDetails.DnsName}";
    var website = Model.WebsiteDetails;
}

<div class="website">
    <h1 class="title">@website.DnsName</h1>
    <div class="votes">
        <div class="votes-up">
            @Html.Raw(@PHtmlHelper.IconThumbUp())
            @website.VoteUpCount
        </div>
        <div class="votes-down">
            @Html.Raw(@PHtmlHelper.IconThumbDown())
            @website.VoteDownCount
        </div>
    </div>
    <h3>Comments</h3>
    <div class="comments-list">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <div class="top">
                    @comment.CreatedOn
                </div>
                <p class="content">@comment.Content</p>
            </div>
        }
    </div>
</div>
