@using Polemonium.WebApp.Web.Helpers;
@model WebsiteModel
@{
    ViewData["Title"] = $"Page Rating {Model.WebsiteDetails.DnsName}";
    var website = Model.WebsiteDetails;

    var paginationButton = new Func<bool, int, string>((page, current) =>
    {
        return $"<button>{page}<button>";
    });
}

<div class="website">
    <h1 class="title">@website.DnsName</h1>
    <div class="votes">
        <div class="votes-btn votes-up">
            @Html.Raw(@PHtmlHelper.IconThumbUp())
            <div class="votes-count">
                @website.VoteUpCount
            </div>
        </div>
        <div class="votes-btn votes-down">
            @Html.Raw(@PHtmlHelper.IconThumbDown())
            <div class="votes-count">
                @website.VoteDownCount
            </div>
        </div>
    </div>
    <h3 class="title-comments">Comments</h3>
    <div class="comments-list">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <div class="comment-top">
                    @comment.CreatedOn
                </div>
                <p class="comment-content">@comment.Content</p>
            </div>
        }
        @PHtmlHelper.Pagination(Model.PageCount, Model.CurrentPage, (pageNo) => $"?comment_page={pageNo}")
        <div class="comment-add">
            <form>
                <div class="row input">
                    <textarea name="content" rows="4"></textarea>
                </div>
                <div class="row buttons">
                    <button type="submit" class="btn submit">
                        <div>
                            @PHtmlHelper.IconPlus()
                        </div>
                        <div>
                            Add Comment
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
